.spiderman-comics-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.spiderman-comics-item{
    width: calc(25% - 20px);
    padding: 10px;
    margin-top: 50px;
}

.spiderman-comics-item-img{
    width: 100%;
}

.spiderman-comics-item-title{

}

.spiderman-comics-no-result{
    color: red;
    font-size: 20px;
}